<head>
    <link rel="stylesheet" href="static/css/csv_page.css"> 
    <title>STEP1</title>

</head>

<div class="container">

    <div class="row mt-3 mb-3 text-center">
        <h2>Scegliere file da analizzare</h2>
    </div>

    <div class="row">
        <div class="col">
            <label for="formFileLg" class="form-label"></label>
            <input class="form-control form-control-lg" id="csv-file" type="file" accept=".csv">
        </div>
    </div>

    <div class="mt-5" id="grid_csv" style="display:none">
        <div class="row">
        <div id="grid"></div>
        </div>
        <div class="row text-center mt-3">
            <button class="btn btn-success" onclick="sendData()">Start Analysis</button>
        </div>
    </div>

</div>

<script src="https://code.datagridxl.com/datagridxl2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.1/papaparse.min.js"></script>

<script>
    
</script>

   



