{% include 'layouts/header.html' %}
<head>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'> 
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'> </script> 
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'> </script> 
    <link rel="stylesheet" href="static/css/progressbarstyle.css">
    <link rel="stylesheet" href="static/css/round_btn.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/csv_page.css"> 
</head>


<body style="background-color: #88b2ccda;">

    <div class="container">
        
            <!-- progressbar -->
            <div class="row">
                <div class="container"> 
                    <div class="row justify-content-center"> 
                        <div class="col"> 
                            <div class="px-0 pt-4 pb-0 mt-3 mb-3"> 
                                <div class="row-11 row-sm-9 row-md-7  row-lg-6 row-xl-5 text-center p-0 mt-3 mb-2" style="margin-left: 18%;">
                                    <ul id="progressbar" data-url="{{request.base_url}}"> 
                                        <li class="active" id="step1"> 
                                            <strong>Step 1</strong>
                                        </li> 
                                        <li id="step2"><strong>Step 2</strong></li> 
                                        <li id="step3"><strong>Chat with MedGPT!</strong></li> 
                                        <!-- <li id="step4"><strong>Step 4</strong></li>  -->
                                    </ul> 
                                    <div class="progress" style="width: 80%;"> 
                                        <div class="progress-bar"></div> 
                                    </div> <br>
                                </div> 
                                    <fieldset class="text-center"> 
                                        <h1>Choose a .csv file to analyze</h1>
                                        <p style="font-size: 16px ;">
                                            Note that if you upload a file with over 125k rows, the system will not be able to load the table and you will
                                            get an error.
                                        </p> 
                                        <!-- STEP 1-->
                                        <div class="container" id="step1" style="display:block">
                                            <div class="row">
                                                <div class="col">
                                                <label for="formFileLg" class="form-label"></label>
                                                <input class="form-control form-control-lg" id="csv-file" type="file" accept=".csv" required>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <input type="button" name="next-step1" id="next-step1" class="next-step" value="Next Step" style="display: none"/>
                                        
                                    </fieldset> 
                                    <fieldset hidden id="fieldset2" class="text-center">  
                                        <p>You can edit the table by double-left-clicking on it.<br>Refer to the 'Help' button for more information.</p>
                                        <!-- STEP 2-->
                                        

                                        <button class="btn btn-primary" style="background-color: blue !important; border-color: blue" onclick="firehelpmodal()">Help</button>

                                            <div class="mt-5" id="grid_csv">
                                                <div class="row">
                                                    <div id="grid"></div>
                                                    
                                                </div>
                                            </div>

                                            
                                            <button type="button" class="btn btn-lg btn-outline-success" onclick="undo()">
                                                <i class="fa fa-undo"></i>
                                            </button>
    
                                            <button type="button" class="btn btn-lg btn-outline-success" onclick="redo()">
                                                <i class="fa fa-rotate-right" ></i>
                                            </button>
    
                                      <!--       <button class="btn btn-success" onclick="sendData()">Help</button> -->

                                            <div class="row">
                                            
                                                <div class="col">
                                                    <h2>Select the dependent variable</h2> 
                                                </div>
                                                 
                                            </div>
                                            <div class="row">
                                                
                                               <!-- <div class="col" id="cblist">
                                                    
                                                  
                                                </div> -->
                                                
                                                
                                                <div class="col" id="rlist">
                                                    
                
                                                </div>
                                                
                                            </div>

                                         <a>
                                           <input onclick="fireConfirmModal()" type="button" name="next-step2" id="next-step2" class="next-step" action="GET" value="Next Step" style="display: none"/>
                                         </a>  
                                        
                                        <input type="button" name="previous-step2"  class="previous-step" value="Previous Step" /> 
                                    </fieldset> 
                                    <fieldset style="display:none"> 
                                        <h2>Welcome To MedGPT Chat</h2> 

                                        <!-- STEP 3-->


                                        <input type="button" name="next-step" 
                                            class="next-step" value="Final Step" /> 
                                        <input type="button" name="previous-step" 
                                            class="previous-step" 
                                            value="Previous Step" /> 
                                    </fieldset> 
                                    <fieldset style="display:none"> 
                                        <div class="finish"> 
                                            <h2 class="text text-center"> 
                                                <strong>FINISHED</strong> 
                                            </h2> 
                                        </div> 
                                        <input type="button" name="previous-step" 
                                            class="previous-step" 
                                            value="Previous Step" /> 
                                    </fieldset> 
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div>
            
            </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.datagridxl.com/datagridxl2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.1/papaparse.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="static/js/wizard.js"></script>

